{% extends 'base.html' %}

{% block content %}

<head>
    <!-- Latest compiled and minified CSS -->
</head>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Wishlist</a>
      </div>
      <p class="navbar-text">{{nama}}</p>
      <ul class="nav navbar-right">
        <li><a href="{% url 'wishlist:logout' %}">Logout</a></li>
      </ul>
    </div>
</nav>

<table class="table table-dark table-bordered" style="border:1px solid black;margin-left:auto;margin-right:auto;">
    <thead class="thead thead-dark">
        <tr>
            <th>Nama Barang</th>
            <th>Harga Barang</th>
            <th>Deskripsi</th>
        </tr>
    </thead>
    <tbody>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for barang in list_barang %}
            <tr>
                <th>{{barang.nama_barang}}</th>
                <th>{{barang.harga_barang}}</th>
                <th>{{barang.deskripsi}}</th>
            </tr>
        {% endfor %}
    </tbody>
</table>


<span class="align-text-bottom">Sesi terakhir login: {{ last_login }}</span>



{% endblock content %}